<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <script src="../public/activate-dark-mode.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji Game</title>

    <!-- metadata -->

    
    <!-- plugins -->
    <link rel="stylesheet" href="https://unpkg.com/blaze-slider@latest/dist/blaze.css">
    <script src="https://unpkg.com/blaze-slider@latest/dist/blaze-slider.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

    <!-- static -->
    <link rel="stylesheet" href="../public/style.css">
    <script src="../public/guess-script.js" defer></script>
</head>

<body>
    <div id="mode-toggle" class="mode-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="sun-icon" viewbox="0 0 32 32">
            <image xlink:href="https://svgshare.com/i/syz.svg" width="32" height="32"/>    
        </svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" class="moon-icon" viewbox="0 0 32 32">
            <image xlink:href="https://svgshare.com/i/t0g.svg" width="32" height="32"/>
        </svg>
    </div>
    <div class="app-container">
        <div class="emoji-container" id="title" style="{% if correct %}color:#66cc66;{% else %}color: #ff9999;{% endif %}"> {{ title | safe }} </div>
        <button id="goback-button"> Go Back </button>
    </div>
    <div class="attribution disableCaret">
        <ul>
            <li>The Emoji Game does not collect information nor store cookies locally or otherwise.</li>
            <li>The Emoji Game made with <div class="heart-emoji">🖤</div> by <a href="https://sidewaysturtle.com" target="_blank">Sideways Turtle</a> and <a href="https://github.com/SanoKei" target="_blank">Sano</a></li>
        </ul>
    </div>
    
    <script src="../public/plugins/confetti.min.js"></script>
    {% if correct %}
        <script>
            // Pass in the id of an element
            let confetti = new Confetti('goback-button');

            // Edit given parameters
            confetti.setCount(75);
            confetti.setSize(1);
            confetti.setPower(25);
            confetti.setFade(false);
        </script>
    {% endif %}
</body>
</html>